@font-face {
    font-family: "lalezar";
    src: url("../font/Lalezar-Regular.ttf");
}
@font-face {
    font-family: "pelak";
    src: url("../font/Pelak-Medium\ -\ Copy.otf");
}
@font-face {
    font-family: "pelak-bold";
    src: url("../font/Pelak-Black\ -\ Copy.otf");
}
.bold {
    font-family: "pelak-bold";
    color: white;
    font-size: 24px;
}
.row {
    width: 100%;
    --bs-gutter-x: 0;
}
input {
    font-family: "pelak";
}
body {
    overflow-x: hidden;
    background: url("../img/Untitled-1.jpg") center center no-repeat;
    background-size: cover;
    background-position: top;
}
* {
    color: #55d8ff;
}
img {
    pointer-events: none;
}
.header-box {
    margin-bottom: 100px;
    transform: translateY(-290px);
}
.header-1 {
    transform: translateY(30px);
}
.input-txt {
    font-family: "pelak-bold";
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "lalezar";
}
h1 {
    font-size: 120px;
    background: -webkit-linear-gradient(#e41f27, #3a0e0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-color2 {
    width: 25%;
    padding: 10px;
    margin-bottom: 30px;
    background: #ebebeb;
    color: #7628dd;
    border: #fff;
}
.btn-color2:hover {
    color: #ebebeb;
    background-color: #7628dd;
}
.btn-color {
    color: #fff;
    background-color: #7628dd;
    border: #7628dd;
}
.box-img-right,
.box-img-left {
    width: 200px;
    height: 400px;
    margin-left: 30px;
    background: url("../img/1.png") center center;
    background-size: 100% 100%;
}
.header-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-fluid {
    max-width: 250px;
    height: 250px;
}
.box-black-friday {
    display: flex;
    justify-content: center;
}
.header-1 {
    width: 70%;
    display: block;
    margin: 0 auto 0 auto;
}
@media screen and (max-width: 700px) {
    .img-1 img {
        max-width: 400px;
    }
    .text-box-3 img {
        max-width: 400px;
    }
    .name-product {
        white-space: break-spaces;
        margin-top: 35px;
        margin-bottom: 25px !important;
        font-size: 15px;
        color: #fff !important;
    }
    .carousel-item2 {
        width: 300px;
    }
}
.tick {
    width: 100%;
    direction: ltr;
    margin-top: 40px;
}
div {
    text-align: center;
}
span.tick-label.tick-text {
    font-size: 20px;
    transform: translateY(-20px);
    font-family: "pelak-bold";
}

a.tick-credits {
    display: none;
}
.tick-group {
    margin-right: 22px;
}
.form-black input {
    display: block;
    margin: 0 auto;
}
.form-black input[type="text"] {
    text-align: center;
    width: 50%;
}
.form-black input[type="submit"] {
    margin-top: 20px;
    width: 30%;
    margin-bottom: 20px;
    background-color: #7628dd;
    border: #7628dd;
    font-family: "pelak-bold";
}
@media screen and (max-width: 992px) {
    h1 {
        font-size: 90px;
    }
    .tick-group {
        display: block;
        margin: 0 auto;
        padding-right: 20px;
    }
    .tick-group:nth-child(4) {
        padding-right: 0;
    }
    .header-box {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 524px) {
    h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .form-black input[type="text"] {
        width: 70%;
    }
    .form-black input[type="submit"] {
        width: 50%;
    }
    .Toastify__toast-container {
        width: 90% !important;
    }
}

@media screen and (max-width: 450px) {
    span.tick-label.tick-text {
        transform: translateY(3px);
        font-size: 14px;
    }
    h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 400px) {
    h3 {
        font-size: 16px;
    }
    .about-h4 {
        font-size: 20px;
    }
}
div {
    font-family: "pelak-bold";
}
.Toastify__toast-container {
    font-family: "pelak" !important;
}
.Toastify__toast-body {
    font-family: "pelak" !important;
}
.product-item {
    margin-top: 50px;
}
.img-product {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.title-product-box {
    font-size: 50px;
    color: #fff;
}
hr:not([size]) {
    height: 5px;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.box-text-product {
    text-align: right;
}
.text-product {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-offer-text {
    margin-bottom: 50px;
}
.box-offer-text h4 {
    color: rgb(228, 228, 228);
    font-size: 20px;
    margin-top: 60px;
    font-family: "pelak-bold";
}
@media screen and (max-width: 500px) {
    .box-offer-text h4{
        font-size: 20px;
    }
}
.title-pl {
    font-family: "pelak-bold" !important;
    font-size: 24px !important;
}
.small-txt {
    font-size: 18px;
    text-align: justify;
    color: #fff;
}
.text-product p {
    text-align: justify;
}
.display-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.text-white.rtl {
    width: 100%;
    height: 150px;
}
.black-friday-bg {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding-bottom: 30px;
}
.about-h4 {
    color: white;
    font-family: "pelak";
}
.btn-end {
    background: transparent;
    border: transparent;
    font-family: "pelak-bold";
    cursor: pointer;
    color: #55d8ff;
    text-decoration: none;
}
.btn-end:hover {
    color: #e41f27;
    transition: 1s ease-out;
}
@media screen and (max-width: 900px) {
    .header-1 {
        width: 90%;
        margin: 240px auto 0 auto;
    }
}
@media screen and (max-width: 768px) {
    body {
        background: url(../img/Untitled-1.jpg) center center;
        background-size: auto 50%;
        background-position: top;
    }
    .header-1 {
        width: 100%;
    }
    .box-form-blackfriday h3 {
        font-size: 22px;
    }
}

.container-blend img {
    mix-blend-mode: screen;
}
.neonText {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
        0 0 151px #0fa;
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa,
            0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}
.img-custom {
    max-width: 100%;
    mix-blend-mode: screen;
    transform: translateY(-115px);
}
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    transform: translateY(-350px);
}
.mr-custom {
    margin-right: 4px;
}
.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
    display: none;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.box-form-blackfriday2 {
    margin-top: 50px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.img-product {
    animation: img-move 2s infinite;
}
@keyframes img-move {
    50% {
        transform: translateY(5px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
.btn-price-custom {
    width: 60%;
    height: 50px;
    margin-bottom: 40px;
    display: none;
}
.box-form-blackfriday {
    transform: translateY(-150px);
}
.des {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
.des p {
    padding: 15px;
    font-size: 24px;
    font-family: "pelak";
}
@media screen and (max-width: 991px) {
    hr:not([size]) {
        display: none;
    }
    .box-form-blackfriday {
        transform: translateY(0);
    }
    .mouse_scroll {
        transform: translateY(-40px);
    }
    p.text-white.rtl {
        text-align: justify;
        padding: 10px;
    }
    .img-custom {
        mix-blend-mode: screen !important;
        transform: translateY(0);
    }
    .header-box {
        transform: translateY(-70px);
    }
}
@media screen and (max-width: 768px) {
    .title-pl {
        font-size: 15px !important;
    }
    .des {
        width: 95%;
    }
    .btn-color2 {
        width: 50%;
        margin-bottom: 10px;
    }
    .header-box {
        transform: translateY(-330px);
    }
    .mouse_scroll {
        transform: translateY(-310px);
    }
    .box-form-blackfriday {
        transform: translateY(-166px);
    }
}
@media screen and (max-width: 550px) {
    .box-form-blackfriday h3 {
        font-size: 18px;
    }
    .header-1 {
        width: 90%;
        margin: 10px auto 0 auto;
    }
    .header-box {
        transform: translateY(-97px);
    }
    .box-form-blackfriday {
        transform: translateY(0);
    }
    .mouse_scroll {
        transform: translateY(-40px);
    }
}
@media screen and (max-width: 400px) {
    .title-product-box {
        font-size: 30px;
    }
}
